transformers
langchain
langchain-community
langchain-huggingface
langchain-google-genai
faiss-cpu
torch
torchvision
sentence-transformers
openai
requests
pyttsx3
tensorflow
tf-keras
nltk
opencv-python
pyaudio
psutil
bs4
pandas
pypdf
python-dotenv